DATABASE_URL="postgresql://USER:PASSWORD@HOST.neon.tech/DATABASE?sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@HOST.neon.tech/DATABASE?sslmode=require"
JWT_SECRET="your_jwt_secret"
EMAIL="your_gmail_address"
PASSWORD="your_gmail_app_password"
